# /var/anoncvs/ocvs/contrib/code/jupp
# /var/anoncvs/ncvs/contrib/code/jupp
source=/var/anoncvs/cvs/contrib/code/jupp
domain=mirbsd.org
remote=git@github.com:MirBSD/jupp.git
#remote=/git/jupp
prepend=/git/jupp-ncvs
set -A torm_branches -- MIRBSD_10 MIRBSD_8 openbsd tg
set -A torm_tags -- MIRBSD_10_BASE MIRBSD_8_BASE MIRBSD_9_BASE \
    cvs-200507211800 cvs-200509212000 \
    paxmirabilis-20120605 paxmirabilis-20120606 paxmirabilis-20140703 \
    paxmirabilis-20151013 paxmirabilis-20160306 paxmirabilis-20161025
set -A pprm_tags -- joe-3_1@25de25dd75a6fa7f74a767bd907f963b38f8adcf
