source=/scmrepos/cvs/oksh
domain=openbsd.org
remote=git@github.com:mirabilos/oksh.git
# rsync -zavPH --numeric-ids -S --stats --delete rsync://openbsd.cs.toronto.edu/obsdcvs/src/bin/ksh/ /scmrepos/cvs/oksh/
